
.header {
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--app-header-background);
    padding: var(--app-padding);

}

.menu{
    position: relative;
}
.menu ul {
    list-style: none;
    display: flex;
    gap: 30px;

}

.menu ul li a{ 
    padding: 5px;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 15px;
    text-wrap: nowrap;
}

.menu ul li.active a{
    color:#D9DADC;
}
.menu-icon {
    display: none;
}

@media (max-width: 500px) {
    .menu{
        flex-direction: column; 
        position: absolute;
        left: 0;
        right: 0;
        top: 80px;
        background-color: var(--app-header-background);
        padding: var(--app-padding);
    
    }
    
    .menu ul {
        display: none;
    }
    .menu ul.mobile {
        display: block;
    }

    .menu ul li{
        padding: 10px 0;

    }

    .menu li.hidden-mobile{
        display: none;
    }

    .menu-icon {
        display: block;
    } 
    
}

